*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    position: relative;
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    height: auto;
    max-width: 100%;
    object-fit: cover;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 3rem;
    border-radius: 1rem;
    border: 3px solid black;
    background-color: rgba(52, 52, 52, 0.7);
}
.profile-image{
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
}
.profile-image img{
    transition: .3s ease;
}
.profile-image:hover img{
    transform:scale(1.3);
}
.btn{
    color: white;
    border-radius: 2rem;
    background-color: black;
    border: 2px solid white;
    transition: .4s ease-in;
}
.btn:hover{
    color: black !important;
    border: 2px solid black;
    background-color: white !important;
}
.form-label{
    color: white !important;
}
.form-outline .form-control:focus~.form-notch .form-notch-leading {
    border-top: .125rem solid black;
    border-bottom: .125rem solid black;
    border-left: .125rem solid black;
}
.form-outline .form-control:focus~.form-notch .form-notch-middle {
    border-bottom: .125rem solid;
    border-color: black;
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
    border-color: currentcolor currentcolor currentcolor black;
    border-bottom: .125rem solid black;
    border-right: .125rem solid black;
    border-top: .125rem solid black;
}

.form-outline .form-control:focus~.form-label {
    color: black;
}
.form-control{
    color: white !important;
}
.forgetPass{
    color: white;
}
.forgetPass:hover{
    color: black;
}